*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--color-primary-dark);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 1.16;

  @media screen and (min-width: $bp-tablet) {
    font-size: 22px;
    line-height: 1.7;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
