.text-brand-blue {
  color: var(--color-brand-blue);
}

.text-mb-brand {
  font-weight: 700;
}

.text-primary-dark {
  color: var(--color-primary-dark);
}

.text-primary-light {
  color: var(--color-primary-light);
}

.text-btn-discription {
  font-size: 12px;
  line-height: 1.5;
}
