:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-brand-blue: #2b7fff;
  --color-official-info: #747272;
  --color-under-button: #4a4a4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctopt: 1200px;
