.contact-section {
  &__container {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-bottom: 48px;
  }

  &__map {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 232px;
    width: 100%;

    @media screen and (min-width: $bp-desctop) {
      position: static;
      border-radius: 32px;
      width: 605px;
      height: auto;
    }
  }

  &__form {
    background-image: url(../images/modal-background.svg);
    background-color: var(--color-primary-dark);
    border-radius: 32px;
    max-width: 422px;
    padding: 42px 24px;
    text-align: center;
    margin-bottom: 188px;

    @media screen and (min-width: $bp-tablet) {
      padding: 56px 64px;
      width: 100%;
    }

    @media screen and (min-width: $bp-desctop) {
      margin-bottom: 0;
    }
  }

  &__input.input {
    margin-bottom: 16px;
  }

  &__button {
    margin: 0 auto 8px;
  }
}
