.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.svg);
  line-height: 1.18;

  @media screen and (min-width: $bp-tablet) {
    padding: 56px 0;
  }

  & .link {
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }

  &__link {
    color: var(--color-primary-light);
    transition-property: color, font-weight;
    transition-delay: 0.2s;
    font-size: 16px;

    &--mb {
      display: block;

      @media screen and (min-width: $bp-tablet) {
        display: none;
      }
    }
  }

  &__image {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__list {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      text-align: left;
      gap: 20px;
    }
  }

  &__logo {
    margin: 0 auto 32px;
    width: 59px;
    height: 30px;
    padding-left: 4px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
      width: 72px;
      height: 36px;
    }
  }

  &__menu {
    flex-grow: 1;

    & li:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  &__address {
    flex-grow: 1;
  }

  &__potitic-info {
    flex-grow: 1;
    max-width: 228px;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }

    &--tb {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
  }

  &__address-items li {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: left;
      gap: 24px;
    }
  }

  &__icon {
    fill: var(--color-primary-light);
  }

  &__copyright {
    padding-top: 8px;
    color: var(--color-official-info);
    font-size: 13px;

    @media screen and (min-width: $bp-tablet) {
      padding-top: 16px;
    }
  }
}
