.product-section {
  &__carousel {
    display: block;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desctop) {
      display: grid;
      grid-template-columns: 44px minmax(0, 1fr) 44px;
      gap: 32px;
      align-items: center;
      margin-bottom: 32px;
    }
  }

  &__swiper {
    width: 100%;
    min-width: 0;
    overflow: hidden;
  }

  &__slide {
    height: auto;
  }
}
